* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
}

main {
  text-align: center;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  width: 48vw;
  margin: 0 auto;
  border: 1px solid black;
}

.cell {
  flex: 0 0 6.25%;
  aspect-ratio: 1 /1;
  background-color: #fca311;
}

.grid-btn {
}
